body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: #CCC;
    stroke-width: 2px;
    fill: none;
}