@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/francesco.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script src='@routes.Assets.at("javascripts/vendor/underscore-min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.10.0.min.js")'></script>

        
    </head>
    <body ng-app="dataVisualization">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="active"><a href="/francesco">Francesco</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div class="starter-template">
                <h1>Page views on qa.dev</h1>
                <div class="container" id="main" ng-controller="ChatCtrl">
                    <div class="row">
                        <div class="col-md-6" ng-click="count = 0" ng-init="count = 1">
                            PieChart
                        </div>
                        <div class="col-md-6" ng-click="count = 1">
                            BulletChart
                        </div>
                    </div>
                    <div class="row">
                        <div id="pie" class="col-md-12" ng-show="count === 0">
                            <div d3-pie></div>
                        </div>
                        <div id="bulletchart" class="col-md-12" ng-show="count === 1">
                            <div d3-bulletchart></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src='@routes.Assets.at("javascripts/app.js")'></script>
        <script src='@routes.Assets.at("javascripts/services.js")'></script>
        <script src='@routes.Assets.at("javascripts/controllers.js")'></script>

        <script src='@routes.Assets.at("javascripts/module.d3.js")'></script>
        <script src='@routes.Assets.at("javascripts/module.d3-visualization.js")'></script>
 
    </body>
</html>
