@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/francesco.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script src='@routes.Assets.at("javascripts/vendor/underscore-min.js")'></script>
        <script src='@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.10.0.min.js")'></script>

        
    </head>
    <body ng-app="dataVisualization">
        <div ng-controller="ChatCtrl">
            <div id="header">
                <select ng-model="currentStream" ng-change="setCurrentStream(currentStream)" ng-options="r.name for r in streams" id="streamSelect"></select>
            </div>
            <div id="chat">
                <div class="{{msg.who}} msg" ng-repeat="msg in msgs | limitTo:-4" ng-class="msg.user === 'Juliet' ? 'juliet' : msg.user !== user ? 'others' : ''">{{msg.time}}<br/>
                    <p>USER: {{msg.user}}</p>
                    <p>PAGE: {{msg.page}}</p>
                </div>
            </div>
            <div d3-graph bar-height="20" bar-padding="5"></div>
        </div>

        <!--<div d3-visualization bar-height="20" bar-padding="5"></div>-->



        <script src='@routes.Assets.at("javascripts/app.js")'></script>
        <script src='@routes.Assets.at("javascripts/services.js")'></script>
        <script src='@routes.Assets.at("javascripts/controllers.js")'></script>

        <script src='@routes.Assets.at("javascripts/module.d3.js")'></script>
        <script src='@routes.Assets.at("javascripts/module.d3-visualization.js")'></script>
        <script src='@routes.Assets.at("javascripts/module.d3-graph.js")'></script>
 
    </body>
</html>
